---
import { getCollection } from 'astro:content';

const movies = await getCollection('movies');
---

<section class="slider my-8">
  <div class="swiper">
    <div class="swiper-wrapper">
      {movies.slice(0,5).map(item => (
        <div class="swiper-slide">
          <a href={`/movies/${item.slug}`}>
            <img src={item.data.poster} alt={item.data.title} class="rounded-lg shadow-lg" />
            <h2 class="text-xl mt-2">{item.data.title}</h2>
          </a>
        </div>
      ))}
    </div>
    <!-- Pagination / Navigation -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>

<script type="module">
  import Swiper, { Navigation, Pagination } from 'swiper';
  import 'swiper/css';
  import 'swiper/css/navigation';
  import 'swiper/css/pagination';

  const swiper = new Swiper('.swiper', {
    modules: [Navigation, Pagination],
    slidesPerView: 1,
    loop: true,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });
</script>
